{% extends 'base.html' %}
{% load static %}
{% block title %}
ROI | Home
{%endblock%}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

  {% if request.GET.command == "verification" %}
  <div class="container mx-auto alert-info text-center" role="alert" style="max-width: 1024px; margin-top:90px;">
    Thank you for registering with us. We have sent you a verification email to you email address <b>{{request.GET.email}}</b>
    <br><br>
    Already verified? <a href="{% url 'login' %}">Login</a>
  </div> 

  
  {% elif request.GET.command == "notactive" %}
  <div class="container mx-auto alert-info text-center" role="alert" style="max-width: 1024px; margin-top:90px;">
    Your account is not activated yet.
    Please check the mail <b>{{request.GET.email}}</b> to get the activation link and activate your account.
    <br><br>
    <a href="{% url 'resendemail' email=request.GET.email %}">Click Here</a> to get the verification link again.
  </div> 

  {% else %}
  <div class="container" style="margin-top: 20px;">
    {% include 'includes/alerts.html' %}
  </div>
  

  <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:90px;">
      
      
        <div class="card-body">
        <h4 class="card-title mb-4"><b>Sign in</b></h4>
        
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
            <div class="form-group">
         <input type="email" class="form-control" placeholder="Email Address" name="email">
            </div> <!-- form-group// -->
            <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password">
            </div> <!-- form-group// -->
            
            <div class="form-group">
              <a href="{% url 'forgotpassword' %}" class="float-right ">Forgot password?</a> 
             
            </div>
             <!-- form-group form-check .// -->
             <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" style="margin-top: 15px;" > Login  </button>
            </div> <!-- form-group// -->    
        </form>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
  
       <p class="text-center mt-4">Don't have account? <a href="{% url 'signup' %}">Sign up</a></p>
       <br><br>
       
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  
  {% endif %}
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->

  {% endblock %}